pandas
numpy
matplotlib
seaborn
torch
nltk
spacy
fastapi
uvicorn
langchain
langchain-community
langchain-groq
response
thread
asyncio
google-genai
huggingface_hub
langchain-huggingface
transformers
accelerate