pandas
numpy
matplotlib
seaborn
torch
nltk
spacy
fastapi
uvicorn
langchain
langchain-community
langchain-groq
google-genai
huggingface_hub
langchain-huggingface
transformers
accelerate
litellm
python-dotenv